@use "../../styles/partials/variables" as *;

.navigation-logged-in {
  position: fixed;
  bottom: 0;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100vw;

  &__white {
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
    background-color: white;
    border-radius: 100px 100px 0px 0px;
    width: 100%;
    align-items: center;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
