@use "../../styles/partials/variables" as *;

.homes {
  display: flex;
  flex-direction: column;
  background-color: $primary2-font;
  border-radius: 8px;
  margin-top: 2rem;
  padding: 1rem;
  margin-bottom: 8rem;

  &__header3 {
    color: $primary4-font;
    font-weight: 500;
    margin-top: 0.5rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__add-home {
    color: $primary1-background;
    background-color: $primary2-font;
    font-weight: 700;
    border-radius: 20px;
    border: 3px solid $primary1-background;
    height: 2rem;
    width: calc(50% - 0.8rem);
    margin-top: 1rem;
  }
}
