$primary1-background: #1328c2;
$primary2-font: white;
$primary3-background-dark: #00174d;
$primary4-font: black;
$primary5-background-medium: #4851e5;
$primary6-add-btn: #218702;
$primary6-task-done: #8282f7;
$primary6-task-undone: #bfbbfe;
