@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tasks {
  display: flex;
  flex-direction: column;
  background-color: $primary2-font;
  border-radius: 8px;
  margin-top: 2rem;
  padding: 1rem;
  margin-bottom: 8rem;

  &__header3 {
    color: $primary4-font;
    font-weight: 500;
    margin-top: 0.5rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__add-tasks {
    @include btn2;
  }

  &__cancel-tasks {
    @include btn2;
    color: $primary9-cancel;
    border: 3px solid $primary9-cancel;
  }

  &__button-container {
    display: flex;
    gap: 1rem;
  }
}

.form-add-task {
  &__input {
    padding-left: 0.5rem;
    border-radius: 5px;
    height: 2rem;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}
